<h1><%= @room.name %></h1>

<div class="row">
  <div class="col-12 col-md-3">
    <%= render "rooms" %>
  </div>

  <div class="col">
    <div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
      <% @room_messages.each do |room_msg| %>
        <div class="chat-message-container">
          <div class="row no-gutters">
            <div class="col-auto text-center">
              <p class="chat-message-user"><%= room_msg.user.username %></p>
            </div>

            <div class="col">
              <div class="message-content">
                <p class="mb-1">
                  <%= room_msg.message %>
                </p>

                <div class="text-right">
                  <small><%= room_msg.created_at %></small>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= simple_form_for @room_message, remote: true do |f| %>
      <div class="input-group mb-3">
        <%= f.input :message, as: :string, 
                              wrapper: false,
                              label: false,
                              input_html: {
                                class: "chat-input"
                              } %>
        <div class="input-group-append">
          <%= f.submit "Send", class: "btn bth-primary chat-input" %>
        </div>
      </div>

      <%= f.input :room_id, as: :hidden %>
    <% end %>
  </div>
</div>

<div class="d-none" data-role="message-template">
  <div class="chat-message-container">
    <div class="row no-gutters">
      <div class="col-auto text-center">
        <p class="chat-message-user" data-role="message-user"></p>
      </div>

      <div class="col">
        <div class="message-content">
          <p class="mb-1" data-role="message-text"></p>

          <div class="text-right">
            <small data-role="message-date"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>